* {
    margin: 0px;
    padding: 0px;
}
h1 {
    font: bold 20px tahoma;
    padding-bottom:5px;
    padding-top:3px;
    color: #000000;
}
h2 {
    font: bold 14px tahoma;
    padding-bottom:5px;
}
h3 {
    font: bold 20px tahoma;
    padding-bottom:5px;
    padding-top:3px;
    color: black;
}
p {
    margin-top: 6px;
    margin-bottom:6px;
}
header, section, footer, aside, nav, article, hgroup {
    display:block;
}
body {
    text-align:center;
    font:normal 14px helvetica;
    background:#4d4d4d; /*#DBDBDB*/
}
img {
    border-style:none;
}
article {
    text-align:justify;
    padding:10px;
    background:#DBDBDB;/*#4d4d4d*/
    color: #000000;
    line-height:125%;
    padding:10px 5px 10px 5px; /* top,right,bottom,left */
    margin:10px 0px 10px 0px;
    margin-bottom:10px;
    border-radius:10px;
    border: 2px solid orangered;
}
article.special {
    text-align:justify;
    padding:10px 5px 10px 5px; /* top,right,bottom,left */
    margin:10px 0px 10px 0px;
    font:normal 15px helvetica;
    line-height:125%;
    background:white;
    color:black;
    border: 2px solid orangered;
}
#page {
    width: 1000px;
    margin: auto;
    text-align: left;
}
#top_nav {
    /*margin:0px 0px 10px 0px;  top,right,bottom,left */
    padding:0px 0px 2px 0px; /* top,right,bottom,left */
    background: #DBDBDB;
    margin-bottom:10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom: 2px solid orangered;
    text-align: center;
}
#top_nav li {
    display:inline-block;
    list-style:none;
    padding:10px 0px 0px 80px; /*top,right,bottom,left */
    /*padding-left: 80px;*/

    font: bold 14px Arial;
}
a{
    text-decoration:none;
    color: #000000;
}
a:hover{
    color:orangered;
}
#logo{
    text-align: center;
    display:inline-block;
    height:100px;
}
#side_logo{
    text-align: left;
    display:block;
    width: 630px;
    height: 150px;
    margin: 10px 0px 10px 0px; /* top,right,bottom,left */
    border: 2px solid orangered;
    background:white;
    border-radius: 10px;
    -moz-box-shadow:inset 0 0 200px #DBDBDB;
    -webkit-box-shadow:inset 0 0 200px #DBDBDB;
    box-shadow:inset 0px 0px 200px #DBDBDB;
}
#contents{
    text-align: justify;
}
#main{
    max-width: 630px;
    float:left;
}
#main_side{
    width: 350px;
    margin: 0px auto 0px 20px; /* top,right,bottom,left */
    float:left;
    text-align:center;
}
#psoread{
    max-width: 760px;
    float:left;
}
#user{
    padding: 10px 0px 0px 0px; /* top,right,bottom,left */
    text-align:center;
}
#color{
    padding: 10px 0px 10px 0px; /* top,right,bottom,left */
    text-align:center;
}
#footer{
    clear:both;
    text-align:center;
    padding:2px 0px 10px 0px; /* top,right,bottom,left */
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 2px solid orangered;
    background:#DBDBDB;
    color: #000000;
}
#mpage{
    text-align:center;
    display:box;
    margin:auto;
}
#news{
    border-top: solid 1px black;
    margin: 20px 0px 0px 0px; /* top,right,bottom,left */
    padding: 10px 0px 0px 0px; /* top,right,bottom,left */
    text-align:justify;
}
#upload{
    width: 350px;
    margin-top: 20px;
}
/* Added a few styles */
::selection{
    background-color: rgb(154,55,55); /*Same as the "BOX" on piratebox-logo_large.png*/
}
#station_cnt{
    margin: 20px 0px 0px 0px;
    padding: 10px 0px 0px 0px;
    text-align: justify;
}
#station_cnt a{
    color: black;
    font-size: 75%;
}
#station_cnt a:hover{
    color:black;
}
#sb_form{
    text-align:center;
}
.shoutbox_content {
    margin-top: 1%;
    position: relative;
    text-align: left;
    width: 100%;
    min-height: 50px;
    height: 350px;
    max-height: 400px;
    overflow: hidden;
}
